doctype html
html(ng-app="myApp")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/angular/angular.min.js",type="text/javascript")
    script.
      var app = angular.module('myApp', []).run(function($rootScope) {
        $rootScope.color = 'yellow';
      });
      app.controller("WindowTestCtrl",function($scope,$window,$http){
        $scope.update = function(url){
          //restful接口地址
          var ajaxUrl = '/json'+url;
          //url链接
          var newUrl = '/users'+url;
          //异步调用
          $http.get(ajaxUrl)
              .success(function(response){
                  $scope.name = response.name;
                  $scope.phone = response.phone;
                  console.log(response);
              })
          //浏览器历史更新
          $window.history.pushState({time:new Date().getTime()},'',newUrl);
        }
        //初始化代码
        $scope.init = function(url){
        　var ajaxUrl = '/json'+url;
          $http.get(ajaxUrl)
            .success(function(response){
                $scope.name = response.name;
                $scope.phone = response.phone;
                console.log(response);
            })
        }
      });
  body
    block content