extends layout
block content

    div(ng-controller="WindowTestCtrl",ng-init="init('#{query}')")
        h1 {{name}}
        p Welcome to {{name}}, {{phone}}
        input(type="button",value="clickMe1",ng-click="update('/-/a')")
        input(type="button",value="clickMe2",ng-click="update('/-/a/b')")
        input(type="button",value="clickMe3",ng-click="update('/-/a/b/c')")